body {
    background: #f9eae1;
    text-align: center;
}
li {
    text-align: center;
    list-style-type: none;
}
img {
    width: 300px;
    border: 5px dashed #ac8c8d;
    border-radius: 10px;
}
h2 {
    background-color: #7D4F50;
    color: white;
}

#firstquote{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #7D4F50;
    font-size: 20px;
    font-style: italic;
}

h1{
    color: white;
    font-size: 40px;
    background-color: #7D4F50;
}

span{
    font-weight: bold;
}
